## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [44]:
anumber = 3
print(anumber)

3

2) Imprimir el tipo de dato de la constante 8.5

In [45]:
aconstant = 8.5
type (aconstant)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [46]:
print(type(anumber))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [47]:
name_user = "Vero Engler"

5) Crear una variable que contenga un número complejo

In [48]:
number_c = 5 + 5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [49]:
type(number_c)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [50]:
import math
pi_4 = round(math.pi, 4)

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [51]:
a = True
b = True

a == b

True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [52]:
print(type(pi_4))

<class 'float'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [53]:
n_sum_dec = 5 + 3.7

11) Realizar una operación de suma de números complejos

In [54]:
sum_c = (5 + 5j) + (3 + 2j)

12) Realizar una operación de suma de un número real y otro complejo

In [55]:
sum_ryc = 5 + (3 + 2j)

13) Realizar una operación de multiplicación

In [56]:
n_mult = 5 * 5

14) Mostrar el resultado de elevar 2 a la octava potencia

In [57]:
two_ateight = 2 ** 8
print (two_ateight)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [58]:
twentyseven_byfour = 27 / 4
print (twentyseven_byfour)

6.75

16) De la división anterior solamente mostrar la parte entera

In [59]:
twentyseven_byfour_nodec =  27 // 4
print(twentyseven_byfour_nodec)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [60]:
twentyseven_byfour_rest = 27 % 4
print (twentyseven_byfour_rest)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [61]:
twentyseven = 4 * twentyseven_byfour_nodec + twentyseven_byfour_rest
print (twentyseven)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [62]:
name = "Vero"
last_name = "Engler"
full_name = name + " " + last_name
print (full_name)

Vero Engler

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [63]:
string_two = "2"
number_two = 2

string_two == number_two

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [64]:
new_two = int (string_two)
number_two = new_two

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [65]:
a = float (3)

# a = float ("3,8"), expecting a number, no string.

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [66]:
avalue = 3
avalue -= 1
print (avalue)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [67]:
aresult = 1 << 2
print (aresult)

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [68]:
#sum_two = 2 + "2"

26) Realizar una operación válida entre valores de tipo entero y string

In [69]:
text1 = "Hello World!\n"
num_repets = 5
ffull_text = text1 * num_repets 

print (ffull_text)

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!